#Reading Data Files of different formats and loading them for analysis

In [ ]:
## Reading from json file format and loading it into dataframe

In [5]:
import pandas as pd
from io import StringIO
Data = '{"employee_name":"James","email":"james@gmail.com","job profile":[{"title1":"Team Lead"}]}'
df = pd.read_json(StringIO(Data))
df

  employee_name            email              job profile
0         James  james@gmail.com  {'title1': 'Team Lead'}

In [ ]:
## convert back to json

In [7]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job profile":{"0":{"title1":"Team Lead"}}}'

In [8]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@gmail.com","job profile":{"title1":"Team Lead"}}}'

In [9]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job profile":{"title1":"Team Lead"}}]'

In [ ]:
## read csv files

In [10]:
df = pd.read_csv("data.csv",header=None)
df

             0         1      2         3      4       5
0         Date  Category  Value   Product  Sales  Region
1   2023-01-01         A   28.0  Product1  754.0    East
2   2023-01-02         B   39.0  Product3  110.0   North
3   2023-01-03         C   32.0  Product2  398.0    East
4   2023-01-04         B    8.0  Product1  522.0    East
5   2023-01-05         B   26.0  Product3  869.0   North
6   2023-01-06         B   54.0  Product3  192.0    West
7   2023-01-07         A   16.0  Product1  936.0    East
8   2023-01-08         C   89.0  Product1  488.0    West
9   2023-01-09         C   37.0  Product3  772.0    West
10  2023-01-10         A   22.0  Product2  834.0    West
11  2023-01-11         B    7.0  Product1  842.0   North
12  2023-01-12         B   60.0  Product2    NaN    West
13  2023-01-13         A   70.0  Product3  628.0   South
14  2023-01-14         A   69.0  Product1  423.0    East
15  2023-01-15         A   47.0  Product2  893.0    West
16  2023-01-16         C    NaN  Product1  895.0   North
17  2023-01-17         C   93.0  Product2  511.0   South
18  2023-01-18         C    NaN  Product1  108.0    West
19  2023-01-19         A   31.0  Product2  578.0    West
20  2023-01-20         A   59.0  Product1  736.0    East
21  2023-01-21         C   82.0  Product3  606.0   South
22  2023-01-22         C   37.0  Product2  992.0   South
23  2023-01-23         B   62.0  Product3  942.0   North
24  2023-01-24         C   92.0  Product2  342.0    West
25  2023-01-25         A   24.0  Product2  458.0    East
26  2023-01-26         C   95.0  Product1  584.0    West
27  2023-01-27         C   71.0  Product2  619.0   North
28  2023-01-28         C   56.0  Product2  224.0   North
29  2023-01-29         B    NaN  Product3  617.0   North
30  2023-01-30         C   51.0  Product2  737.0   South
31  2023-01-31         B   50.0  Product3  735.0    West
32  2023-02-01         A   17.0  Product2  189.0    West
33  2023-02-02         B   63.0  Product3  338.0   South
34  2023-02-03         C   27.0  Product3    NaN    East
35  2023-02-04         C   70.0  Product3  669.0    West
36  2023-02-05         B   60.0  Product2    NaN    West
37  2023-02-06         C   36.0  Product3  177.0    East
38  2023-02-07         C    2.0  Product1    NaN   North
39  2023-02-08         C   94.0  Product1  408.0   South
40  2023-02-09         A   62.0  Product1  155.0    West
41  2023-02-10         B   15.0  Product1  578.0    East
42  2023-02-11         C   97.0  Product1  256.0    East
43  2023-02-12         A   93.0  Product3  164.0    West
44  2023-02-13         A   43.0  Product3  949.0    East
45  2023-02-14         A   96.0  Product3  830.0    East
46  2023-02-15         B   99.0  Product2  599.0    West
47  2023-02-16         B    6.0  Product1  938.0   South
48  2023-02-17         B   69.0  Product3  143.0    West
49  2023-02-18         C   65.0  Product3  182.0   North
50  2023-02-19         C   11.0  Product3  708.0   North

In [11]:
df.loc[0]

0        Date
1    Category
2       Value
3     Product
4       Sales
5      Region
Name: 0, dtype: object

In [13]:
print(type(df.iloc[0,4]))

<class 'str'>

In [19]:
print(df.dtypes)

0    object
1    object
2    object
3    object
4    object
5    object
dtype: object

In [20]:
## to csv
df.to_csv("Final.csv")

In [21]:
!pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (5.4.0)

In [27]:
## Read html files
url = "https://www.fdic.gov/bank-failures/failed-bank-list?combine=&items_per_page=All"
df = pd.read_html(url)

In [ ]:
## The above code returns a list of dataframes

In [28]:
df

[                                 Bank Name          City          State  \
 0                     Pulaski Savings Bank       Chicago       Illinois
 1       The First National Bank of Lindsay       Lindsay       Oklahoma
 2    Republic First Bank dba Republic Bank  Philadelphia   Pennsylvania
 3                            Citizens Bank      Sac City           Iowa
 4                 Heartland Tri-State Bank       Elkhart         Kansas
 ..                                     ...           ...            ...
 566                 Sinclair National Bank      Gravette       Arkansas
 567                    Malta National Bank         Malta           Ohio
 568        First Alliance Bank & Trust Co.    Manchester  New Hampshire
 569  The National State Bank of Metropolis    Metropolis       Illinois
 570                       Bank of Honolulu      Honolulu         Hawaii

       Cert                Acquiring Institution       Closing Date  \
 0    28611                      Millennium Bank   January 17, 2025
 1     4134   First Bank & Trust Co., Duncan, OK   October 18, 2024
 2    27332    Fulton Bank, National Association     April 26, 2024
 3     8758            Iowa Trust & Savings Bank   November 3, 2023
 4    25851               Dream First Bank, N.A.      July 28, 2023
 ..     ...                                  ...                ...
 566  34248                   Delta Trust & Bank  September 7, 2001
 567   6629                    North Valley Bank        May 3, 2001
 568  34264  Southern New Hampshire Bank & Trust   February 2, 2001
 569   3815              Banterra Bank of Marion  December 14, 2000
 570  21029                   Bank of the Orient   October 13, 2000

      Fund  Sort ascending
 0                   10548
 1                   10547
 2                   10546
 3                   10545
 4                   10544
 ..                    ...
 566                  4649
 567                  4648
 568                  4647
 569                  4646
 570                  4645

 [571 rows x 7 columns]]

In [29]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
...,...,...,...,...,...,...,...
566,Sinclair National Bank,Gravette,Arkansas,34248,Delta Trust & Bank,"September 7, 2001",4649
567,Malta National Bank,Malta,Ohio,6629,North Valley Bank,"May 3, 2001",4648
568,First Alliance Bank & Trust Co.,Manchester,New Hampshire,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
569,The National State Bank of Metropolis,Metropolis,Illinois,3815,Banterra Bank of Marion,"December 14, 2000",4646
570,Bank of Honolulu,Honolulu,Hawaii,21029,Bank of the Orient,"October 13, 2000",4645

In [ ]:
## In the above example, I was taking the entire table to be shown on page 1 so that the url remains same now what if I had to scrap this tables on different pages

In [30]:
df_list = []
for i in range(12):
  url = pd.read_html("https://www.fdic.gov/bank-failures/failed-bank-list?combine=&items_per_page=50&page=%d" %i)
  df_list.append(url[0])
df = pd.concat(df_list)
df

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
...,...,...,...,...,...,...,...
16,Sinclair National Bank,Gravette,Arkansas,34248,Delta Trust & Bank,"September 7, 2001",4649
17,Malta National Bank,Malta,Ohio,6629,North Valley Bank,"May 3, 2001",4648
18,First Alliance Bank & Trust Co.,Manchester,New Hampshire,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
19,The National State Bank of Metropolis,Metropolis,Illinois,3815,Banterra Bank of Marion,"December 14, 2000",4646
20,Bank of Honolulu,Honolulu,Hawaii,21029,Bank of the Orient,"October 13, 2000",4645

In [31]:
## Based on keywords filtering out which table to pick
url = "https://en.wikipedia.org/wiki/Mobile_country_code"
df = pd.read_html(url,match='Country',header=None)[0]
df

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

### Read excel

In [ ]:
data = pd.read_excel('Data.xlsx',sheet_name="")
data

In [ ]:
## Convert to pickle files
data.to_pickle('data')

In [ ]:
pd.read_pickle('data')